Code/Release/SupportFiles/Xml/opticks-2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:opticks="https://comet.balldayton.com/standards/namespaces/2005/v1/comet.xsd" targetNamespace="https://comet.balldayton.com/standards/namespaces/2005/v1/comet.xsd" version="$Header$">
   <xsd:annotation>
      <xsd:documentation xml:lang="en">
This is version 2 of the opticks Data Type schema. Information contained within is subject to change without notice.
When changing this definition, please increment the version tag below and in the namespace above (and in the xmlbase.* source files).

The information in this file is
Copyright(c) 2007 Ball Aerospace &amp; Technologies Corporation
and is subject to the terms and conditions of the
GNU Lesser General Public License Version 2.1
The license text is available from   
http://www.gnu.org/licenses/lgpl.html
      </xsd:documentation>
   </xsd:annotation>
   <xsd:attributeGroup name="versionHeader">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
This is the version number of the current schema definition. All top level types use this construct.
This should be included in the xsd:schema verion attribute as well
         </xsd:documentation>
      </xsd:annotation>
      <xsd:attribute name="version" type="xsd:positiveInteger" fixed="2"/>
   </xsd:attributeGroup>
   <xsd:simpleType name="coordinateType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
This is a freeform coordinate. It consists of a list of double's. This is typically
used to represent a 2D point (x and y value) or a rectangle (x and y of lower left then x and y of upper right).
Uses of this datatype not consistent with the above should be documented.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:list itemType="xsd:double"/>
   </xsd:simpleType>
   <xsd:simpleType name="uintList">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
This is a freeform unsigned integer list.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:list itemType="xsd:nonNegativeInteger"/>
   </xsd:simpleType>
   <xsd:simpleType name="ProcessingLocation">
      <xsd:restriction base="xsd:string">
      <xsd:enumeration value="memory"/>
      <xsd:enumeration value="on-disk"/>
      <xsd:enumeration value="on-disk read-only"/>
   </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ColorTripleType">
      <xsd:restriction base="xsd:token">
         <xsd:length value="7" fixed="true"/>
      <xsd:pattern value="#[A-F0-9]{6}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:attributeGroup name="idHeader">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
This group is common in objects. It contains an object name and type.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="type" type="xsd:string" default=""/>
   </xsd:attributeGroup>
  <xsd:complexType name="DynamicObjectElement">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A DynamicObjectElement is a name/type/value grouping.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:all>
         <xsd:element name="value" form="qualified"/>
      </xsd:all>
      <xsd:attributeGroup ref="opticks:idHeader"/>
      <xsd:attribute name="hasValue" type="xsd:boolean" use="optional" default="true"/>
   </xsd:complexType>
   <xsd:complexType name="DynamicObject">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
This is a generic DynamicObject and is always extended. See Classification for an example of an extension
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="attribute" type="opticks:DynamicObjectElement" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
      </xsd:sequence>
      <xsd:attributeGroup ref="opticks:versionHeader"/>
   </xsd:complexType>
   <xsd:simpleType name="classificationLevelType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="UNCLASSIFIED"/>
         <xsd:enumeration value="CONFIDENTIAL"/>
         <xsd:enumeration value="SECRET"/>
         <xsd:enumeration value="TOP SECRET"/>
         <xsd:enumeration value="U"/>
         <xsd:enumeration value="C"/>
         <xsd:enumeration value="S"/>
         <xsd:enumeration value="T"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Classification">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
Extension of a DynamicObject containing Classification info.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:DynamicObject">
            <xsd:attribute name="level" type="opticks:classificationLevelType" use="required"/>
            <xsd:attribute name="system" type="xsd:string" use="optional"/>
            <xsd:attribute name="codewords" type="xsd:string" use="optional"/>
            <xsd:attribute name="fileControl" type="xsd:string" use="optional"/>
            <xsd:attribute name="fileReleasing" type="xsd:string" use="optional"/>
            <xsd:attribute name="declassificationDate" type="xsd:dateTime" use="optional"/>
            <xsd:attribute name="declassificationExemption" type="xsd:string" use="optional"/>
            <xsd:attribute name="fileDowngrade" type="xsd:string" use="optional"/>
            <xsd:attribute name="countryCode" type="xsd:string" use="optional"/>
            <xsd:attribute name="downgradeDate" type="xsd:dateTime" use="optional"/>
            <xsd:attribute name="description" type="xsd:string" use="optional"/>
            <xsd:attribute name="authority" type="xsd:string" use="optional"/>
            <xsd:attribute name="authorityType" type="xsd:string" use="optional"/>
            <xsd:attribute name="securitySourceDate" type="xsd:dateTime" use="optional"/>
            <xsd:attribute name="securityControlNumber" type="xsd:string" use="optional"/>
            <xsd:attribute name="fileCopyNumber" type="xsd:string" use="optional"/>
            <xsd:attribute name="fileNumberOfCopies" type="xsd:string" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SpectralElement">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
This is a generic SpectralElement and is always extended
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="classification" type="opticks:Classification" form="qualified"/>
         <xsd:element name="metadata" type="opticks:DynamicObject" minOccurs="0" form="qualified"/>
      </xsd:sequence>
      <xsd:attributeGroup ref="opticks:versionHeader"/>
      <xsd:attributeGroup ref="opticks:idHeader"/>
      <xsd:attribute name="dataset" type="xsd:anyURI" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="GcpList">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A GCP list.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:SpectralElement">
            <xsd:sequence>
               <xsd:element name="point" minOccurs="0" maxOccurs="unbounded" form="qualified">
                  <xsd:complexType>
                     <xsd:all>
                        <xsd:element name="pixel" type="opticks:coordinateType" form="qualified"/>
                        <xsd:element name="coordinate" type="opticks:coordinateType" form="qualified"/>
                        <xsd:element name="rmsError" type="opticks:coordinateType" form="qualified"/>
                     </xsd:all>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TiePointList">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A tie point list.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:SpectralElement">
            <xsd:sequence>
               <xsd:element name="missionDataset" minOccurs="1" maxOccurs="1" form="qualified">
                  <xsd:complexType>
                     <xsd:attribute name="name" type="xsd:string"/>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="pt" minOccurs="0" maxOccurs="unbounded" type="opticks:coordinateType" form="qualified"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="RawData" mixed="true">
       <xsd:annotation>
           <xsd:documentation xml:lang="en">
         This is base-64 encoded 32-bit integer big endian data.
           </xsd:documentation>
       </xsd:annotation>
       <xsd:attribute name="size" type="xsd:nonNegativeInteger" use="required"/>
   </xsd:complexType>
      <xsd:complexType name="aoiBitmask">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
An AOI Bitmask type. The ecc attribute contains the name of the error
correcting code used when encoding the mask. The encoding should allow
the bitmask to be decoded without checking the ECC. Currently supported
values are: nil = no ECC used, RS(255,223) = a common reed-solomon code
         </xsd:documentation>
      </xsd:annotation>
      <xsd:all>
         <xsd:element name="rectangle" minOccurs="1" maxOccurs="1" type="opticks:coordinateType" form="qualified"/>
         <xsd:element name="boundingBox" minOccurs="1" maxOccurs="1" type="opticks:coordinateType" form="qualified"/>
         <xsd:element name="size" minOccurs="1" maxOccurs="1" type="opticks:coordinateType" form="qualified">
            <xsd:annotation>
               <xsd:documentation xml:lang="us">The size of the bitmask. column, row, pointCount.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="mask" type="xsd:base64Binary" form="qualified">
            <xsd:annotation>
               <xsd:documentation xml:lang="us">Encode the bitmask as an array of bytes then convert to base64.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:all>
      <xsd:attribute name="outside" type="xsd:boolean"/>
      <xsd:attribute name="ecc" type="xsd:string" default=""/>
   </xsd:complexType>
   <xsd:complexType name="aoiVector">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
An AOI vector type.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="point" minOccurs="0" maxOccurs="unbounded" type="opticks:coordinateType" form="qualified"/>
      </xsd:sequence>
      <xsd:attributeGroup ref="opticks:versionHeader"/>
   </xsd:complexType>
   <xsd:complexType name="AOI">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
An AOI list.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:SpectralElement">
            <xsd:sequence>
               <xsd:element name="data" minOccurs="0" maxOccurs="1" form="qualified">
                  <xsd:complexType>
                     <xsd:choice>
                        <xsd:element name="bitmask" type="opticks:aoiBitmask" form="qualified"/>
                        <xsd:element name="vector" type="opticks:aoiVector" form="qualified"/>
                     </xsd:choice>
                     <xsd:attribute name="mode">
                        <xsd:simpleType>
                           <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="empty"/>
                              <xsd:enumeration value="point"/>
                              <xsd:enumeration value="rectangle"/>
                              <xsd:enumeration value="polygon"/>
                              <xsd:enumeration value="line"/>
                              <xsd:enumeration value="hline"/>
                              <xsd:enumeration value="vline"/>
                              <xsd:enumeration value="polyline"/>
                              <xsd:enumeration value="mask"/>
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:attribute>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="pixelName" minOccurs="0" maxOccurs="unbounded" form="qualified">
                  <xsd:complexType>
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">An AOI pixel name. X,Y position with a name attribute.</xsd:documentation>
                     </xsd:annotation>
                     <xsd:all>
                        <xsd:element name="point" minOccurs="1" maxOccurs="1" type="opticks:coordinateType" form="qualified"/>
                     </xsd:all>
                     <xsd:attribute name="name" type="xsd:string"/>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="annotationProperty" abstract="true">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
An annotation object property.
         </xsd:documentation>
      </xsd:annotation>
   </xsd:complexType>
   <xsd:complexType name="alphaProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
An alpha annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="alpha" type="xsd:double" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="apexProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
An apex annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="position" type="xsd:double" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="arcRegionProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
An arc region annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="region" use="required">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="center"/>
                     <xsd:enumeration value="chord"/>
                     <xsd:enumeration value="open"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:attribute>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="boundingBoxProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A bounding box annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:all>
         <xsd:element name="boundingBox" minOccurs="1" maxOccurs="1" type="opticks:coordinateType" form="qualified"/>
         <xsd:element name="geoBox" minOccurs="0" maxOccurs="1" type="opticks:coordinateType" form="qualified"/>
      </xsd:all>
   </xsd:complexType>
   <xsd:complexType name="fillColorProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A fill color annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:all>
         <xsd:element name="color" minOccurs="1" maxOccurs="1" type="opticks:coordinateType" form="qualified">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
This is a 3-tuple containing Red Green Blue
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:all>
   </xsd:complexType>
   <xsd:complexType name="fillStyleProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A fill style annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="style" use="required">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="solid"/>
                     <xsd:enumeration value="hatch"/>
                     <xsd:enumeration value="empty"/>
                  </xsd:restriction>
               </xsd:simpleType>
             </xsd:attribute>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="fontProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A font annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="face" type="xsd:string"/>
            <xsd:attribute name="size" type="xsd:positiveInteger" use="required"/>
            <xsd:attribute name="weight" type="xsd:positiveInteger"/>
            <xsd:attribute name="italic" type="xsd:boolean"/>
            <xsd:attribute name="underline" type="xsd:boolean"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="hatchStyleProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A hatch style annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="boxed" type="xsd:boolean" default="false"/>
            <xsd:attribute name="style" use="required">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="solid"/>
                     <xsd:enumeration value="x"/>
                     <xsd:enumeration value="cross hair"/>
                     <xsd:enumeration value="asterisk"/>
                     <xsd:enumeration value="horizontal line"/>
                     <xsd:enumeration value="vertical line"/>
                     <xsd:enumeration value="forward slash"/>
                     <xsd:enumeration value="back slash"/>
                  </xsd:restriction>
               </xsd:simpleType>
             </xsd:attribute>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="latLonProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A lat/long annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:all>
         <xsd:element name="point" minOccurs="1" maxOccurs="1" type="opticks:coordinateType" form="qualified">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
This is a 2-tuple containing Lat Lon
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:all>
   </xsd:complexType>
   <xsd:complexType name="lineColorProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A line color annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:all>
         <xsd:element name="color" minOccurs="1" maxOccurs="1" type="opticks:coordinateType" form="qualified">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
This is a 3-tuple containing Red Green Blue
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:all>
   </xsd:complexType>
   <xsd:complexType name="lineOnProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A line on annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="on" type="xsd:boolean" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="lineStyleProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A line style annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="style" use="required">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="solid"/>
                     <xsd:enumeration value="dashed"/>
                     <xsd:enumeration value="dot"/>
                     <xsd:enumeration value="dash dot"/>
                     <xsd:enumeration value="dash dot dot"/>
                  </xsd:restriction>
               </xsd:simpleType>
             </xsd:attribute>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="lineWidthProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A line width annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="width" use="required" type="xsd:double"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="rotationProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A rotation annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="rotation" use="required" type="xsd:double"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="scaleProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A scale annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="scale" use="required" type="xsd:double"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="textAlignmentProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A text alignment annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="alignment" use="required" type="xsd:integer"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="textColorProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A text color annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:all>
         <xsd:element name="color" minOccurs="1" maxOccurs="1" type="opticks:coordinateType" form="qualified">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
This is a 3-tuple containing Red Green Blue
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:all>
   </xsd:complexType>
   <xsd:complexType name="textStringProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A text string annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:all>
         <xsd:element name="string" minOccurs="1" maxOccurs="1" type="xsd:string" form="qualified"/>
      </xsd:all>
   </xsd:complexType>
   <xsd:complexType name="wedgeProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A wedge annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="start" use="required" type="xsd:double"/>
            <xsd:attribute name="stop" use="required" type="xsd:double"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="paperSizeProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A paper size annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:all>
         <xsd:element name="size" minOccurs="1" maxOccurs="1" type="opticks:coordinateType" form="qualified">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
This is a 2-tuple containing Width Height
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:all>
   </xsd:complexType>
    <xsd:complexType name="filenameProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A filename annotation object property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:attribute name="source" use="required" type="xsd:anyURI"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="cgmProperty">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
Properties for a CGM object.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:annotationProperty">
            <xsd:sequence>
               <xsd:element name="element" minOccurs="0" maxOccurs="unbounded" type="xsd:integer"/>
               <xsd:element name="font" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="metafile" type="xsd:string" use="required"/>
            <xsd:attribute name="picture" type="xsd:string" use="required"/>
            <xsd:attribute name="version" type="xsd:integer" use="required"/>
            <xsd:attribute name="description" type="xsd:string" use="required"/>
            <xsd:attribute name="colorSelectionMode" type="xsd:integer" use="required"/>
            <xsd:attribute name="edgeWidthMode" type="xsd:integer" use="required"/>
            <xsd:attribute name="lineWidthMode" type="xsd:integer" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="Annotation">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
Annotation object(s). This actually combines AnnotationGroup and other Annotation objects in one.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:all>
         <xsd:element name="Alpha" type="opticks:alphaProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="Apex" type="opticks:apexProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="ArcRegion" type="opticks:arcRegionProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="BoundingBox" type="opticks:boundingBoxProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="FillColor" type="opticks:fillColorProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="FillStyle" type="opticks:fillStyleProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="Font" type="opticks:fontProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="HatchStyle" type="opticks:hatchStyleProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="LatLon" type="opticks:latLonProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="LineColor" type="opticks:lineColorProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="LineOn" type="opticks:lineOnProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="LineStyle" type="opticks:lineStyleProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="LineWidth" type="opticks:lineWidthProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="Rotation" type="opticks:rotationProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="Scale" type="opticks:scaleProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="TextAlignment" type="opticks:textAlignmentProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="TextColor" type="opticks:textColorProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="TextString" type="opticks:textStringProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="Wedge" type="opticks:wedgeProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="PaperSize" type="opticks:paperSizeProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="Filename" type="opticks:filenameProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="Cgm" type="opticks:cgmProperty" minOccurs="0" maxOccurs="1" form="qualified"/>
         <xsd:element name="objects" minOccurs="0" maxOccurs="1" form="qualified">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Annotation" minOccurs="1" maxOccurs="unbounded" type="opticks:Annotation" form="qualified"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="vertices" minOccurs="0" maxOccurs="1" form="qualified">
         <xsd:complexType>
            <xsd:sequence>
               <xsd:element name="pixel" minOccurs="1" maxOccurs="unbounded" type="opticks:coordinateType" form="qualified"/>
            </xsd:sequence>
         </xsd:complexType>
         </xsd:element>
         <xsd:element name="paths" minOccurs="0" maxOccurs="1" form="qualified">
         <xsd:complexType>
            <xsd:sequence>
               <xsd:element name="pixel" minOccurs="1" maxOccurs="unbounded" type="opticks:coordinateType" form="qualified"/>
            </xsd:sequence>
         </xsd:complexType>
         </xsd:element>
      </xsd:all>
      <xsd:attribute name="showLabels" type="xsd:boolean" use="optional" default="false"/>
      <xsd:attributeGroup ref="opticks:versionHeader"/>
      <xsd:attributeGroup ref="opticks:idHeader"/>
   </xsd:complexType>

   <xsd:complexType name="wizardNode">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A WizardNode.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="validType" type="xsd:string" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
         <xsd:element name="value" minOccurs="0" form="qualified"/>
      </xsd:sequence>
      <xsd:attribute name="hasValue" type="xsd:boolean" use="optional" default="false"/>
      <xsd:attribute name="version" type="xsd:string" use="required"/>
      <xsd:attribute name="originalType" type="xsd:string" use="required"/>
      <xsd:attributeGroup ref="opticks:idHeader"/>
   </xsd:complexType>

   <xsd:complexType name="wizardItem">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A WizardItem.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="location" type="opticks:coordinateType" form="qualified" minOccurs="1"/>
         <xsd:element name="input" type="opticks:wizardNode" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
         <xsd:element name="output" type="opticks:wizardNode" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
      </xsd:sequence>
      <xsd:attribute name="batch" type="xsd:boolean" default="false"/>
      <xsd:attribute name="batchSupported" type="xsd:boolean" default="true"/>
      <xsd:attributeGroup ref="opticks:idHeader"/>
   </xsd:complexType>

   <xsd:complexType name="wizardConnection">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A WizardConnection.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:attribute name="inputItem" type="xsd:nonNegativeInteger" use="required"/>
      <xsd:attribute name="inputNode" type="xsd:nonNegativeInteger" use="required"/>
      <xsd:attribute name="outputItem" type="xsd:nonNegativeInteger" use="required"/>
      <xsd:attribute name="outputNode" type="xsd:nonNegativeInteger" use="required"/>
   </xsd:complexType>


   <xsd:complexType name="Wizard">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
A WizardObject.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="opticks:SpectralElement">
            <xsd:sequence>
               <xsd:element name="item" type="opticks:wizardItem" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
               <xsd:element name="connection" type="opticks:wizardConnection" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
            </xsd:sequence>
            <xsd:attribute name="batch" type="xsd:boolean" default="false"/>
            <xsd:attribute name="menuLocation" type="xsd:string" use="required"/>
        </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>


   <xsd:complexType name="Units">
       <xsd:attribute name="type" use="required" type="xsd:nonNegativeInteger"/>
       <xsd:attribute name="name" type="xsd:string" use="optional"/>
       <xsd:attribute name="range" use="optional" type="opticks:coordinateType"/>
       <xsd:attribute name="scale" type="xsd:double"/>
   </xsd:complexType>
   <xsd:complexType name="DataDescriptor">
       <xsd:all>
           <xsd:element name="rows" type="opticks:uintList" form="qualified"/>
           <xsd:element name="columns" type="opticks:uintList" form="qualified"/>
           <xsd:element name="bands" type="opticks:uintList" form="qualified"/>
           <xsd:element name="units" type="opticks:Units" minOccurs="1" form="qualified"/>
           <xsd:element name="data" type="opticks:RawData" form="qualified" minOccurs="0"/>
       </xsd:all>
       <xsd:attribute name="bpp" type="xsd:nonNegativeInteger" use="required"/>
       <xsd:attribute name="encoding" type="xsd:nonNegativeInteger" use="required"/>
       <xsd:attribute name="interleave" type="xsd:nonNegativeInteger" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="SpatialData" abstract="true">
       <xsd:complexContent>
           <xsd:extension base="opticks:SpectralElement">
               <xsd:sequence>
                   <xsd:element name="descriptor" type="opticks:DataDescriptor" form="qualified"/>
               </xsd:sequence>
           </xsd:extension>
       </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="OnDiskSensorData">
       <xsd:attribute name="headerbytes" use="required" type="xsd:nonNegativeInteger"/>
       <xsd:attribute name="read-only" use="required" type="xsd:boolean"/>
       <xsd:attribute name="filename" use="required" type="xsd:anyURI"/>
   </xsd:complexType>
   <xsd:complexType name="ResultsMatrix">
       <xsd:complexContent>
           <xsd:extension base="opticks:SpatialData">
               <xsd:sequence>
                   <xsd:element name="ondisksensordata" type="opticks:OnDiskSensorData" minOccurs="0" form="qualified"/>
               </xsd:sequence>
               <xsd:attribute name="offset" type="opticks:coordinateType" use="required"/>
               <xsd:attribute name="location" default="memory" type="opticks:ProcessingLocation"/>
           </xsd:extension>
       </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="PseudocolorClass">
       <xsd:attribute name="color" use="required" type="opticks:ColorTripleType"/>
       <xsd:attribute name="displayed" use="required" type="xsd:boolean"/>
       <xsd:attribute name="name" use="required" type="xsd:string"/>
       <xsd:attribute name="value" use="required" type="xsd:integer"/>
   </xsd:complexType>

   <xsd:element name="GcpList" type="opticks:GcpList"/>

   <xsd:element name="Annotation" type="opticks:Annotation"/>
   <xsd:element name="ResultsMatrix" type="opticks:ResultsMatrix"/>
   <xsd:element name="AOI" type="opticks:AOI"/>
   <xsd:element name="TiePointList" type="opticks:TiePointList"/>
   <xsd:element name="Wizard" type="opticks:Wizard"/>
   <xsd:complexType name="Layer" abstract="true">
      <xsd:sequence>
         <xsd:element ref="opticks:Annotation" minOccurs="0"/>
         <xsd:element ref="opticks:AOI" minOccurs="0"/>
         <xsd:element ref="opticks:GcpList" minOccurs="0"/>
         <xsd:element ref="opticks:ResultsMatrix" minOccurs="0"/>
         <xsd:element ref="opticks:TiePointList" minOccurs="0"/>
         <xsd:element ref="opticks:Wizard" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="name" use="optional" type="xsd:normalizedString"/>
   </xsd:complexType>
   <xsd:complexType name="AoiLayer">
       <xsd:complexContent>
           <xsd:extension base="opticks:Layer">
              <xsd:attribute name="symbol" type="xsd:nonNegativeInteger" use="required"/>
              <xsd:attribute name="color" use="required" type="opticks:ColorTripleType"/>
           </xsd:extension>
       </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="PseudocolorLayer">
       <xsd:complexContent>
           <xsd:extension base="opticks:AoiLayer">
               <xsd:sequence>
                   <xsd:element name="class" type="opticks:PseudocolorClass" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
               </xsd:sequence>
           </xsd:extension>
       </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="PseudocolorLayer" type="opticks:PseudocolorLayer"/>
</xsd:schema>
